body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #87CEFA url('https://www.transparenttextures.com/patterns/clouds.png') repeat;
  font-family: 'Dela Gothic One', cursive;
}

h1 {
  margin-bottom: 20px;
  color: #000080;
  font-size: 2.5em;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.toggle-label {
  color: #000080;
  font-size: 1.2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #000080;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid #000080;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border: 2px solid #000080;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #87CEFA;
  /* Light blue hover effect */
}

.cell.x::before {
  content: 'X';
  color: #ff6f61;
}

.cell.o::before {
  content: 'O';
  color: #4a90e2;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000080;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1c3f5b;
}

/* Modal Styles */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

#modalContent {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#modalContent p {
  font-size: 1.5em;
  margin: 0;
  color: #000080;
}

#closeModal {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#closeModal:hover {
  background-color: #1c3f5b;
}
